.btn {
    color: #505050;
    font-weight: 400;
    background-color: transparent;
}
.btn:hover {
    transform: scale(1.04);
    background-color: #505050;
    color: #ffffff;
    border: none;
    transition: transform, background-color 500ms;
}

.nav {
    background-color: transparent;
}
.nav:hover {
    background-color: #ffffff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: background-color 500ms;
}
.navLinks:hover {
    font-size: 20px;
    transition: font-size 300ms;
}
.card:hover {
    /* background-color: #8e8e8e1c; */
    cursor: pointer;
    transform: scale(1.04);
    transition: transform 700ms;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 500px) {
    /* this allows the porfolio page to show columns when screen is 480 */
    .cardContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
