.icon {
    /* sideBar icons */
    color: rgba(255, 255, 255, 0.8);
}
.icon:hover {
    /* sideBar icons */
    background-color: rgba(17, 17, 27, 1);
    transition: background-color 500ms;
    cursor: pointer;
}

.container {
    /* side bar */
    width: 100px;
    grid-area: container;
}
.container:hover {
    /* side bar */
    width: 300px;
    position: fixed;
    left: 0;
    z-index: 5;
    font-size: 16px !important;
    transition: width 300ms, font-size 300ms ease-in-out;
}

.parentContainer {
    /* this is the parent container for the Movie App */
    display: grid;
    grid-template-columns: 0.3fr 1.7fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "container Movies";
}

.Movies {
    grid-area: Movies;
}

.scroller {
    /* scroller button */
    color: rgba(255, 255, 255, 0.119);
}
.scroller:hover {
    color: rgba(255, 255, 255, 0.919);
    transition: color 300ms ease-in-out;
}
.iconButton:hover {
    /* button components */
    border: 1px solid yellow !important;
    /* background-color: rgba(255, 255, 255, 0.8); */
    transition: border 2000ms;
}
